name: Jekyll site CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
        jekyll/builder:latest /bin/bash -c "chmod 777 /srv/jekyll && jekyll build --future"

    - uses: manyuanrong/setup-ossutil@v2.0 #使用阿里云的ossutil工具
      with:
        endpoint: "oss-cn-guangzhou.aliyuncs.com" #这里是你的bucket的endpoint，根据你选择的区域不同会不一样，在Bucket页面查看即可
        access-key-id: ${{ secrets.ALI_OSS_ACCESS_KEY_ID }} #这里填写Key
        access-key-secret: ${{ secrets.ALI_OSS_ACCESS_KEY_SECRET }} #这里填写Secret
    - run: ossutil cp -rf public oss://cn-diqigan-bookmark/ #这个命令就是把生成的public文件夹的内容，传到oss的Bucket中，选择rf的参数直接覆盖文件，把“jayshaoblog”替换为你的bucket名字